<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="challengeMapper">
	<resultMap id="challengeResultSet" type="Challenge">
		<id property="chId" column="CHID"/>
		<result property="userId" column="USERID"/>
		<result property="chName" column="CHNAME"/>
		<result property="chPicture" column="CHPICTURE"/>
		<result property="chContent" column="CHCONTENT"/>
		<result property="startDate" column="STARTDATE"/>
		<result property="endDate" column="ENDDATE"/>
		<result property="category" column="CATEGORY"/>
		<result property="ceMethod" column="CEMETHOD"/>
		<result property="price" column="PRICE"/>
		<result property="totalPrice" column="TOTALPRICE"/>
		<result property="minPerson" column="MINPERSON"/>
		<result property="maxPerson" column="MAXPERSON"/>
		<result property="chPeople" column="CHPEOPLE"/>
		<result property="chPeopleCount" column="CHPEOPLECOUNT"/>
	</resultMap>
	
	<resultMap id="premiumChallengeResultSet" type="PremiumChallenge">
		<id property="chPId" column="CHPID"/>
		<result property="userId" column="USERID"/>
		<result property="chName" column="CHNAME"/>
		<result property="chPicture" column="CHPICTURE"/>
		<result property="chContent" column="CHCONTENT"/>
		<result property="startDate" column="STARTDATE"/>
		<result property="endDate" column="ENDDATE"/>
		<result property="category" column="CATEGORY"/>
		<result property="ceMethod" column="CEMETHOD"/>
		<result property="price" column="PRICE"/>
		<result property="totalPrice" column="TOTALPRICE"/>
		<result property="minPerson" column="MINPERSON"/>
		<result property="maxPerson" column="MAXPERSON"/>
		<result property="chPeople" column="CHPEOPLE"/>
		<result property="chPeopleCount" column="CHPEOPLECOUNT"/>
	</resultMap>
	
	<resultMap id="mypageResultSet" type="Mypage">
		<id property="userId" column="USERID"/>
		<result property="intro" column="INTRO"/>
		<result property="goal" column="GOAL"/>
		<result property="interest" column="INTEREST"/>
		<result property="myExp" column="MYEXP"/>
		<result property="myLevel" column="MYLEVEL"/>
	</resultMap>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM CHALLENGE
	</select>
	
	<select id="selectList" resultMap="challengeResultSet">
		SELECT *
		FROM CHALLENGE
	</select>
	
	<select id="selectOneDetail" resultMap="challengeResultSet">
		SELECT *
		FROM CHALLENGE
		WHERE CHID=#{chId}
	</select>
	
	<select id="getSearchListCount" parameterType="Challenge" resultType="_int">
		SELECT COUNT(*)
		FROM CHALLENGE
		
			<if test="chName != null">
			WHERE CHNAME LIKE '%' || #{chName} || '%'
			</if>
			<if test="userId != null">
			WHERE USERID LIKE '%' || #{userId} || '%'
			</if>
			<if test="startDate != null">
			WHERE STARTDATE LIKE '%' || #{startDate} || '%'
			</if>
			<if test="endDate != null">
			WHERE ENDDATE LIKE '%' || #{endDate} || '%'
			</if>
	</select> 
	
	<select id="getSelectSearchList" resultMap="challengeResultSet">
		SELECT *
		FROM CHALLENGE
		
			<if test="chName != null">
				WHERE CHNAME LIKE '%' || #{chName} || '%'
			</if>
			<if test="userId != null">
				WHERE USERID LIKE '%' || #{userId} || '%'
			</if>
			<if test="startDate != null">
				WHERE STARTDATE LIKE '%' || #{startDate} || '%'
			</if>
			<if test="endDate != null">
				WHERE ENDDATE LIKE '%' || #{endDate} || '%'
			</if>
		ORDER BY CHID DESC
	</select>
	
	<insert id="insertChallenge">
		INSERT INTO CHALLENGE
		VALUES(SEQ_chId.NEXTVAL,#{userId},#{chName},#{chPicture},#{chContent},#{startDate},#{endDate},
				#{category},#{ceMethod},#{price},0,0,#{maxPerson},#{chPeople},0)
	</insert>
	
	<select id="selectChallengeList" resultMap="challengeResultSet">
		SELECT * FROM
		CHALLENGE
		ORDER BY CHID DESC
	</select>
	
	<select id="getListCategoryCount" resultType="_int">
		SELECT COUNT(*) 
		FROM CHALLENGE
		WHERE CATEGORY=#{category}
	</select>
	
	<select id="selectChallengeCategoryList" resultMap="challengeResultSet">
		SELECT * FROM
		CHALLENGE
		WHERE CATEGORY=#{category}
		ORDER BY CHID DESC
	</select>
	
	<select id="selectSearchChNameList" resultMap="challengeResultSet">
		SELECT *
		FROM CHALLENGE
			<if test="chName != null">
				WHERE CHNAME LIKE '%' || #{chName} || '%'
			</if>
		ORDER BY CHID DESC
	</select>
	
	<select id="checkPremiumCondition" resultMap="mypageResultSet">
		SELECT MYLEVEL
		FROM MYPAGE
		WHERE USERID=#{userId}
	</select>
	
	<select id="selectOnePremiumDetail" resultMap="premiumChallengeResultSet">
		SELECT *
		FROM PREMIUMCHALLENGE
		WHERE CHPID=#{chPId}
	</select>
	
	<select id="getPremiumListCount" parameterType="PremiumChallenge" resultType="_int">
		SELECT COUNT(*)
		FROM PREMIUMCHALLENGE
		
			<if test="chName != null">
			WHERE CHNAME LIKE '%' || #{chName} || '%'
			</if>
			<if test="userId != null">
			WHERE USERID LIKE '%' || #{userId} || '%'
			</if>
			<if test="startDate != null">
			WHERE STARTDATE LIKE '%' || #{startDate} || '%'
			</if>
			<if test="endDate != null">
			WHERE ENDDATE LIKE '%' || #{endDate} || '%'
			</if>
	</select>
	
	<select id="searchChPremiumNameList" resultMap="premiumChallengeResultSet">
		SELECT *
		FROM PREMIUMCHALLENGE
			<if test="chName != null">
				WHERE CHNAME LIKE '%' || #{chName} || '%'
			</if>
		ORDER BY CHPID DESC
	</select>
	
	<select id="selectPremiumList" resultMap="premiumChallengeResultSet">
		SELECT *
		FROM PREMIUMCHALLENGE
		ORDER BY CHPID DESC
	</select>
	
	<insert id="insertPremiumChallenge">
		INSERT INTO PREMIUMCHALLENGE
		VALUES(SEQ_chPId.NEXTVAL,#{userId},#{chName},#{chPicture},#{chContent},#{startDate},#{endDate},
				#{category},#{ceMethod},#{price},0,0,#{maxPerson},#{chPeople},0)	
	</insert>
	
	<select id="premiumListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PREMIUMCHALLENGE
	</select>
</mapper>