<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "challengeMapperSR">
  	
  	
  	<resultMap type="ChallengeTop10" id="challengeTop10ResultSet">
  		<id property="chId" column="CHID"/>
  		<result property="userId" column="USERID"/>
  		<result property="userName" column="USERNAME"/>
  		<result property="chTitle" column="CHTITLE"/>
  		<result property="chCategory" column="CHCATEGORY"/>
  		<result property="chPicture" column="CHPICTURE"/>
  		<result property="endDate" column="ENDDATE"/>
  		<result property="chPeopleList" column="CHPEOPLELIST"/>
  		<result property="chPeopleCount" column="CHPEOPLECOUNT"/>
  		<result property="ranking" column="RK"/>
  	</resultMap>
  	
  	<resultMap type="ChallengerInfo" id="ChallengerInfoResultMap">
  		<id property="userId" column="USERID"/>
  		<result property="userNickname" column="USERNICKNAME"/>
  		<result property="userLevel" column="USERLEVEL"/>
  	</resultMap>
  	
  	
  	<!-- 챌린지 탑10 리스트 가져오기 -->
  	<!-- 1) 진행중 챌린지 목록 가져오기 -->
  	<select id="getChallengeTop10List" resultMap="challengeTop10ResultSet">
  		<![CDATA[
  		SELECT * FROM(
		SELECT CHID AS CHID, 
		       USERID AS USERID, 
		       (SELECT NICKNAME FROM MEMBER WHERE USERID = CH.USERID) AS USERNAME, 
		        CHNAME AS CHTITLE,
		        CATEGORY AS CHCATEGORY,
		        CHPICTURE AS CHPICTURE, 
		        ENDDATE AS ENDDATE, 
		        CHPEOPLE AS CHPEOPLELIST, 
		        CHPEOPLECOUNT AS CHPEOPLECOUNT,
		        RANK() OVER(ORDER BY CHPEOPLECOUNT DESC, STARTDATE) AS RK
		FROM CHALLENGE CH
		WHERE ENDDATE > SYSDATE AND STARTDATE < SYSDATE)
		WHERE RK <= 10
		]]>
  	</select>
  	
  	<!-- 챌린지 참가자 목록 가져오기 -->
  	<select id="getChallengerList" resultMap="ChallengerInfoResultMap">
  		SELECT M.USERID AS USERID,
		       M.NICKNAME AS USERNICKNAME,
		       P.MYLEVEL AS USERLEVEL
		FROM MEMBER M
		JOIN MYPAGE P ON (M.USERID = P.USERID)
  	</select>
  	
  	<!-- 챌린지 만들고 결제 안하면 챌린지 삭제하기 -->
	<delete id="cancleRegister">
		DELETE FROM CHALLENGE WHERE CHID = #{chId}	
	</delete>
  	
  	<!-- 챌린지 80% 이상 인증한 사람 수 구하기 -->
  	<select id="getSuccessRate" resultType="_int">
  		SELECT COUNT(*)
		FROM(
			SELECT (COUNT(*)/#{time})*100 AS RATE
			FROM CERTIFY
			WHERE CHID = #{chId}
			AND CEDEL_YN = 'N'
			GROUP BY USERID)
		WHERE RATE >= 80
  	</select>
  	
  	<!-- 마감된 챌린지 성공한 사람 리스트 가져오기 -->
  	<select id="getSuccessList" resultMap="ChallengerInfoResultMap">
  		SELECT USERID, USERNICKNAME, USERLEVEL
		FROM(
		    SELECT C.USERID AS USERID, 
		           (SELECT NICKNAME FROM MEMBER WHERE USERID = C.USERID) AS USERNICKNAME,
                   (SELECT MYLEVEL FROM MYPAGE WHERE USERID = C.USERID) AS USERLEVEL,
		           (COUNT(*)/#{time})*100 AS RATE
		    FROM CERTIFY C
		    WHERE CHID = #{chId}
		    AND CEDEL_YN = 'N'
		    GROUP BY C.USERID)
		WHERE RATE >= 80
  	</select>
  	
  </mapper>