<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<resultMap id="memberResultSet" type="Member">
		<id property="userId" column="USERID"/>
		<result property="password" column="PASSWORD"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="userName" column="USERNAME"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="account" column="ACCOUNT"/>
		<result property="picture" column="PICTURE"/>
		<result property="joinDate" column="JOINDATE"/>
		<result property="outYN" column="OUT_YN"/>
	</resultMap>

	<select id="userInfo" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE USERID=#{userId}
		AND OUT_YN='N'
	</select>
	
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USERID=#{idCheck}
	</select>
</mapper>