<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">
	<resultMap id="mypageResultSet" type="Mypage">
		<id property="userId" column="USERID"/>
		<result property="intro" column="INTRO"/>
		<result property="goal" column="GOAL"/>
		<result property="interest" column="INTEREST"/>
		<result property="myExp" column="MYEXP"/>
		<result property="myLevel" column="MYLEVEL"/>
	</resultMap>
	
	<resultMap id="challengeResultSet" type="Challenge">
		<id property="chId" column="CHID"/>
		<result property="userId" column="USERID"/>
		<result property="chName" column="CHNAME"/>
		<result property="chPicture" column="CHPICTURE"/>
		<result property="chContent" column="CHCONTENT"/>
		<result property="startDate" column="STARTDATE"/>
		<result property="endDate" column="ENDDATE"/>
		<result property="category" column="CATEGORY"/>
		<result property="ceMethod" column="CEMETHOD"/>
		<result property="price" column="PRICE"/>
		<result property="totalPrice" column="TOTALPRICE"/>
		<result property="minPerson" column="MINPERSON"/>
		<result property="maxPerson" column="MAXPERSON"/>
		<result property="chPeople" column="CHPEOPLE"/>
	</resultMap>
	
	<resultMap id="certifyResultSet" type="Certify">
		<id property="ceId" column="CEID"/>
		<result property="chId" column="CHID"/>
		<result property="userId" column="USERID"/>
		<result property="ceContent" column="CECONTENT"/>
		<result property="cePicture" column="CEPICTURE"/>
		<result property="ceDel" column="CEDEL_YN"/>
		<result property="ceDate" column="CEDATE"/>
		<result property="chName" column="CHNAME"/>
		<result property="category" column="CATEGORY"/>
		<result property="nickName" column="NICKNAME"/>
	</resultMap>
	
	<resultMap id="diaryResultSet" type="Diary">
		<result property="dId" column="DID"/>
		<result property="userId" column="USERID"/>
		<result property="dTitle" column="DTITLE"/>
		<result property="dContent" column="DCONTENT"/>
		<result property="dColor" column="DCOLOR"/>
		<result property="sDate" column="SDATE"/>
		<result property="eDate" column="EDATE"/>
		<result property="cntStamp" column="CNTSTAMP"/>
	</resultMap>
	
	<select id="my_profileView" resultMap="mypageResultSet">
		SELECT *
		FROM MYPAGE
		WHERE USERID=#{userId}
	</select>
	
	<select id="followCount" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOW
		WHERE HOST=#{userId}
	</select>
	
	<select id="followingCount" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOW
		WHERE FOLLOWER=#{userId}
	</select>
	
	<update id="updateProfile" parameterType="Mypage">
		UPDATE MYPAGE
		SET INTRO=#{intro},GOAL=#{goal},INTEREST=#{interest}
		WHERE USERID=#{userId}
	</update>
	
	<select id="selectListCh" resultMap="challengeResultSet">
		SELECT * FROM CHALLENGE
		WHERE CHPEOPLE LIKE '%'||#{userId}||'%'
	</select>
	
	<select id="certifyCount" resultType="_int">
		SELECT COUNT(*) FROM CERTIFY
		WHERE USERID=#{userId}
		AND CHID=#{chId}
	</select>
	
	<select id="selectMember" resultType="Member">
		SELECT * FROM MEMBER
		WHERE USERID=#{otherId}
	</select>
	
	<delete id="my_unfollow">
		DELETE FROM FOLLOW
		WHERE HOST=#{host}
		AND FOLLOWER=#{follower}
	</delete>
	
	<select id="isFollow" resultType="_int">
		SELECT COUNT(*) 
		FROM FOLLOW
		WHERE HOST=#{host}
		AND FOLLOWER=#{follower} 
	</select>
	
	<insert id="my_follow" parameterType="Follow">
		INSERT INTO FOLLOW
		VALUES(#{host},#{follower})
	</insert>
	
	<update id="my_updateLvEx" parameterType="Mypage">
		UPDATE MYPAGE
		SET MYEXP=#{myExp},MYLEVEL=#{myLevel}
		WHERE USERID=#{userId}
	</update>
	
	<select id="selectListDiary" resultType="Diary">
		SELECT * 
		FROM DIARY
		WHERE USERID=#{userId}
	</select>
	
	<insert id="insertDiary" parameterType="Diary">
		INSERT INTO DIARY
		VALUES(SEQ_DID.NEXTVAL,#{userId},#{dTitle},#{dContent},#{dColor},#{sDate},#{eDate},DEFAULT)
	</insert>
	
	<delete id="deleteDiary">
		DELETE FROM DIARY
		WHERE DID=#{dId}
		AND USERID=#{userId}
	</delete>
</mapper>