<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="noticeMapper">
  
  	<resultMap type="Notice" id="noticeResultSet">
  		<id property="nId" column="NID"/>
  		<result property="nTitle" column="NTITLE"/>
  		<result property="nWriter" column="NWRITER"/>
  		<result property="nContent" column="NCONTENT"/>
  		<result property="nCount" column="NCOUNT"/>
  		<result property="nFile" column="NFILE"/>
  		<result property="nDate" column="NDATE"/>
  		<result property="nStatus" column="NDEL_YN"/>
  	</resultMap>
  
  	<!-- 공지사항 전체 글 수 확인용 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE NDEL_YN='N'
	</select>
	
	<!-- 공지사항 전체 리스트 가져오기 -->
	<select id="selectList" resultMap="noticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE NDEL_YN='N'
		ORDER BY NID+1 DESC	
	</select>
	
	<!-- 조회수 올리기 -->
	<update id="updateCount">
		UPDATE NOTICE
		SET NCOUNT = NCOUNT+1
		WHERE NID = #{nId}
	</update>
	
	<!-- 공지사항 상세보기 -->
	<select id="noticeSelect" resultMap="noticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE NID = #{nId}
		AND NDEL_YN = 'N'
	</select>
	
	<!-- 공지사항 검색 갯수 확인 -->
	<select id="getSearchListCount" parameterType="SearchCondition" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE NDEL_YN = 'N'
		
		<if test="title != null">
			AND NTITLE LIKE '%' || #{title} || '%'
		</if>
		<if test="content != null">
			AND NCONTENT LIKE '%' || #{content} || '%'
		</if>
	</select>
	
	<!-- 공지사항 검색 리스트 불러오기 -->
  	<select id="selectSearchList" resultMap="noticeResultSet">
  		SELECT *
  		FROM NOTICE
  		WHERE NDEL_YN = 'N'  		
  		<if test="title != null">
			AND NTITLE LIKE '%' || #{title} || '%'
		</if>
		<if test="content != null">
			AND NCONTENT LIKE '%' || #{content} || '%'
		</if>
		ORDER BY NID DESC  		
  	</select>
  	
  	<!-- 공지사항 입력 -->
  	<insert id="adNoticeInsert">
  		INSERT INTO NOTICE 
  		VALUES(SEQ_NID.NEXTVAL,#{nTitle},#{nContent},#{nWriter},DEFAULT,NULL,SYSDATE,DEFAULT)  	
  	</insert>
  	
  	<!-- 공지사항 수정 -->
  	<update id="adNoticeModify">
  		UPDATE NOTICE 
  		SET NTITLE = #{nTitle}, NCONTENT = #{nContent}, NDATE=SYSDATE 
  		WHERE NID = #{nId}
  		AND NDEL_YN = 'N'
  	</update>
  	
  	<!-- 공지사항 삭제 -->
  	<update id="adNoticeDelete">
  		UPDATE NOTICE
  		SET NDEL_YN = 'Y'
  		WHERE NID = #{nId}
  	</update>
  	
  	
  </mapper>