<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="payMapper">
  
  	<resultMap id="payResultSet" type="Pay">
  		<id property="pId" column="PID"/>
  		<result property="chId" column="CHID"/>
  		<result property="userId" column="USERID"/>
  		<result property="price" column="PRICE"/>
  		<result property="pmethod" column="PMETHOD"/>
  		<result property="pDate" column="PDATE"/>
  		<result property="refund_yn" column="REFUND_YN"/>
  		<result property="pdel_yn" column="PDEL_YN"/>
  	</resultMap>
  	
  	<resultMap id="chResultSet" type="Challenge">
  		<id property="chId" column="CHID"/>
  		<result property="userId" column="USERID"/>
  		<result property="chName" column="CHNAME"/>
  		<result property="chPicture" column="CHPICTURE"/>
  		<result property="chContent" column="CHCONTENT"/>
  		<result property="startDate" column="STARTDATE"/>
  		<result property="endDate" column="ENDDATE"/>
  		<result property="category" column="CATEGORY"/>
  		<result property="ceMethod" column="CEMETHOD"/>
  		<result property="price" column="PRICE"/>
  		<result property="totalPrice" column="TOTALPRICE"/>
  		<result property="minPerson" column="MINPERSON"/>
  		<result property="maxPerson" column="MAXPERSON"/>
  		<result property="chPeople" column="CHPEOPLE"/>
  		<result property="chPeopleCount" column="CHPEOPLECOUNT"/>
  	</resultMap>
  	
  	<resultMap id="payListResultSet" type="Pay">
  		<id property="pId" column="PID"/>
  		<result property="chId" column="CHID"/>
  		<result property="userId" column="USERID"/>
  		<result property="price" column="PRICE"/>
  		<result property="sc_price" column="SC_PRICE"/>
  		<result property="pmethod" column="PMETHOD"/>
  		<result property="pDate" column="PDATE"/>
  		<result property="refund_yn" column="REFUND_YN"/>
  		<result property="pdel_yn" column="PDEL_YN"/>
  		<collection property="chList" javaType="java.util.ArrayList" resultMap="chResultSet"/>
  	</resultMap>
  	
  	<resultMap id="paymResultSet" type="Member">
		<id property="userId" column="USERID"/>
		<result property="password" column="PASSWORD"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="userName" column="USERNAME"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="phone" column="PHONE"/>
		<result property="account" column="ACCOUNT"/>
		<result property="picture" column="PICTURE"/>
		<result property="joinDate" column="JOINDATE"/>
		<result property="outYN" column="OUT_YN"/>
	</resultMap>
  	
  	<resultMap id="payMemberListResultSet" type="Pay">
  		<id property="pId" column="PID"/>
  		<result property="chId" column="CHID"/>
  		<result property="userId" column="USERID"/>
  		<result property="price" column="PRICE"/>
  		<result property="sc_price" column="SC_PRICE"/>
  		<result property="pmethod" column="PMETHOD"/>
  		<result property="pDate" column="PDATE"/>
  		<result property="refund_yn" column="REFUND_YN"/>
  		<result property="pdel_yn" column="PDEL_YN"/>
  		<collection property="mList" javaType="java.util.ArrayList" resultMap="paymResultSet"/>
  	</resultMap>
  	
  	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PAY
		WHERE PDEL_YN='N'
	</select>
  
  	<select id="selectList" resultMap="payListResultSet">
		SELECT *
		FROM PAY
		JOIN CHALLENGE USING(CHID)
		ORDER BY PID+1 DESC
	</select>
  
 	<select id="slectPayDetail" resultMap="payMemberListResultSet">
		SELECT *
		FROM PAY
		JOIN MEMBER USING(USERID)
        WHERE PID=#{pId}
 	</select>
 	
 	<select id="slectChDetail" resultMap="chResultSet">
 		SELECT *
		FROM PAY
		JOIN CHALLENGE USING(CHID)
		WHERE PID=#{pId}
 	</select>
  
  	<insert id="insertPay" parameterType="Pay">
  		INSERT INTO PAY
  		VALUES(SEQ_PID.NEXTVAL,#{chId},#{userId},#{price},#{pmethod},SYSDATE,DEFAULT,DEFAULT)
  	</insert>
  	
  	<select id="paySearchResultCount" resultType="_int">
		SELECT COUNT(*)
		FROM PAY P
		JOIN CHALLENGE C
		ON C.CHID = P.CHID
	<if test="userId != null">
		WHERE P.USERID LIKE '%' || #{userId} || '%'
  	</if>
  	<if test="pId != null">
		WHERE P.PID LIKE '%' || #{pId} || '%'
  	</if>
	</select>
  	
  	<select id="chSearchResultCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM PAY P
		JOIN CHALLENGE C
  		ON C.CHID = P.CHID
  	<if test="chName != null">
  		WHERE C.CHNAME LIKE '%' || #{chName} || '%'
  	</if>
  	</select>
  	
  	
  	<select id="searchplist"  resultMap="payListResultSet">
  		SELECT *
		FROM PAY P
		JOIN CHALLENGE C
		ON C.CHID = P.CHID
  		<if test="userId != null">
		WHERE P.USERID LIKE '%' || #{userId} || '%'
  		</if>
  		<if test="pId != null">
		WHERE P.PID LIKE '%' || #{pId} || '%'
  		</if>
  	</select>
	
	<select id="searchchlist"  resultMap="payListResultSet">
		SELECT *
		FROM PAY P
		JOIN CHALLENGE C
		ON C.CHID = P.CHID
		<if test="chName != null">
		WHERE C.CHNAME LIKE '%' || #{chName} || '%'
		</if>
	</select>
	
	<select id="pSearchY"  resultMap="payListResultSet">
  		SELECT *
		FROM PAY P
		JOIN CHALLENGE C
		ON C.CHID = P.CHID
  		<if test="userId != null">
		WHERE P.USERID LIKE '%' || #{userId} || '%'
  		</if>
  		<if test="pId != null">
		WHERE P.PID LIKE '%' || #{pId} || '%'
  		</if>
		ORDER BY REFUND_YN DESC
  		
  	</select>
	
	<select id="pSearchN"  resultMap="payListResultSet">
  		SELECT *
		FROM PAY P
		JOIN CHALLENGE C
		ON C.CHID = P.CHID
  		<if test="userId != null">
		WHERE P.USERID LIKE '%' || #{userId} || '%'
  		</if>
  		<if test="pId != null">
		WHERE P.PID LIKE '%' || #{pId} || '%'
  		</if>
  		ORDER BY REFUND_YN ASC
  	</select>
	
	<select id="chSearchY"  resultMap="payListResultSet">
		SELECT *
		FROM PAY P
		JOIN CHALLENGE C
		ON C.CHID = P.CHID
		<if test="chName != null">
		WHERE C.CHNAME LIKE '%' || #{chName} || '%'
		</if>
		ORDER BY REFUND_YN DESC
	</select>
	
	<select id="chSearchN"  resultMap="payListResultSet">
		SELECT *
		FROM PAY P
		JOIN CHALLENGE C
		ON C.CHID = P.CHID
		<if test="chName != null">
		WHERE C.CHNAME LIKE '%' || #{chName} || '%'
		</if>
		ORDER BY REFUND_YN ASC
		
	</select>
	

	<update id="refundAll">
		UPDATE PAY
		SET REFUND_YN = 'Y'
		WHERE PID IN (
		<foreach collection="array" item="item" index="index" separator=",">
            ${item}
        </foreach>
		)
	</update>
  	
  	<update id="refundOne">
  		UPDATE PAY
  		SET REFUND_YN = 'Y'
  		WHERE PID = #{pId}
  	</update>
  	
  	<select id="ynlist" resultMap="payListResultSet">
  		SELECT *
		FROM PAY P
		JOIN CHALLENGE C USING(CHID)
		ORDER BY REFUND_YN DESC, PID+1 ASC
  	</select>
  	
  	<select id="nylist" resultMap="payListResultSet">
		SELECT *
		FROM PAY P
		JOIN CHALLENGE C USING(CHID)
		ORDER BY REFUND_YN ASC, PID+1 ASC 	
  	</select>
  	
  	<update id="updatepeoplePlus">
  		UPDATE CHALLENGE
  		SET CHPEOPLE = #{chPeople}
  		WHERE CHID = #{chId}
  	</update>
  	
  	<update id="updateCountPlus">
  		UPDATE CHALLENGE
  		SET CHPEOPLECOUNT = #{chPeopleCount}
  		WHERE CHID = #{chId}
  	</update>
  	
  </mapper>