<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="questionsMapper">  
     <resultMap type = "Questions" id="qnaResultSet">
          <id property="qId" column="QID"/>
          <result property = "qUserid" column="USERID"/>
          <result property = "qTitle" column="QTITLE"/>         
          <result property = "qContent" column="QCONTENT"/>
          <result property = "qCount" column="QCOUNT"/>
          <result property = "qDate"  column="QDATE"/>
          <result property = "qOpen" column="QOPEN_YN"/>
          <result property = "qDel" column="QDEL_YN"/>                        
     
     </resultMap>     
        <!-- 조회된 댓글들 매핑을 위해서 replyResultSet resultMap 만들기 -->
        
     <resultMap type="QuestionsReply" id="replyResultSet">
        <id property="qrId" column="QRID"/>
        <result property="qId" column="QID"/>
        <result property="qrUserid" column="QRWRITER"/>
        <result property="qrContent" column="QRCONTENT"/>
        <result property="qrDate" column="QRDATE"/>
        <result property="qrDel" column="QRDEL_YN"/>
     
     
     </resultMap>
        
        
        <!-- 문의사항 전체 리스트 가져오기 -->
	<select id="selectList" resultMap="qnaResultSet">
		SELECT *
		FROM QUESTIONS
		WHERE QDEL_YN='N'
		ORDER BY QID DESC	
	</select>     
	    <!-- 문의사항 전체 개수 가져오기 -->
	<select id="getListCount" resultType="_int">
	   SELECT COUNT(*)
	   FROM QUESTIONS
	   WHERE QDEL_YN='N'	
	</select>
	
	    <!-- 문의사항 상세 페이지 가져오기 -->
	   
	   <select id="questionsSelect" resultMap="qnaResultSet">
	              SELECT*
	              FROM QUESTIONS
	              WHERE QID=#{qId}
	              AND QDEL_YN='N'              
	      
	   </select>
	   
	   <!-- 조회수 올리기 -->
	   <update id="updateCount">
	            UPDATE QUESTIONS
	            SET QCOUNT = QCOUNT + 1
	            WHERE QID = #{qId}
	   </update>
	
	   <!-- 문의사항 검색 갯수 확인 -->
	<select id="getSearchListCount" parameterType="SearchCondition" resultType="_int">
		SELECT COUNT(*)
		FROM QUESTIONS
		WHERE QDEL_YN = 'N'
		
		<if test="title != null">
			AND QTITLE LIKE '%' || #{title} || '%'
		</if>
		<if test="content != null">
			AND QCONTENT LIKE '%' || #{content} || '%'
		</if>
	</select>
	
	<!-- 문의사항 검색 리스트 불러오기 -->
  	<select id="selectSearchList" resultMap="qnaResultSet">
  		SELECT *
  		FROM QUESTIONS
  		WHERE QDEL_YN = 'N'  		
  		<if test="title != null">
			AND QTITLE LIKE '%' || #{title} || '%'
		</if>
		<if test="content != null">
			AND QCONTENT LIKE '%' || #{content} || '%'
		</if>
		ORDER BY QID DESC  		
  	</select>  	          
  	
  	
  	<!-- 문의사항 입력 -->
  	<insert id="questionsInsert" parameterType="Questions">
  		INSERT INTO QUESTIONS 
  		VALUES(SEQ_QID.NEXTVAL,#{qUserid},#{qTitle},#{qContent},DEFAULT,SYSDATE,DEFAULT,DEFAULT)  	
  	</insert>
  	
  	<!-- 문의사항 수정 -->
  	<update id="questionsModify">
  		UPDATE QUESTIONS 
  		SET QTITLE = #{qTitle},QCONTENT = #{qContent}, QDATE=SYSDATE 
  		WHERE QID = #{qId}
  		AND QDEL_YN = 'N'
  	</update>
  	
  	<!-- 문의사항 삭제 -->
  	<update id="questionsDelete">
  		UPDATE QUESTIONS
  		SET QDEL_YN = 'Y'
  		WHERE QID = #{qId}
  	</update>  	  	  	
  	
  	<!-- 댓글 -->
	<select id= "selectreplyList" resultMap="replyResultSet">
	SELECT Q.QID,QR.QRID,QR.QRWRITER,QR.QRCONTENT,QR.QRDATE,QR.QRDEL_YN
    FROM QUESTIONS Q
    JOIN QUESTIONSREPLY QR
    ON Q.QID = QR.QID
    WHERE Q.QID = #{qId} 
    
    AND QRDEL_YN='N' 
    ORDER BY QRDATE DESC 
	</select>
	
	<insert id="insertReply" parameterType="QuestionsReply">
	INSERT INTO QUESTIONSREPLY
	VALUES(SEQ_QRID.NEXTVAL,#{qId},'admin',#{qrContent},SYSDATE,DEFAULT)
	</insert>
   
    </mapper>