<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="questionsMapper">  
     <resultMap type = "Questions" id="qnaResultSet">
          <id property="qId" column="QID"/>
          <result property = "qUserid" column="USERID"/>
          <result property = "qTitle" column="QTITLE"/>         
          <result property = "qContent" column="QCONTENT"/>
          <result property = "qCount" column="QCOUNT"/>
          <result property = "qDate"  column="QDATE"/>
          <result property = "qOpen" column="QOPEN_YN"/>
          <result property = "qDel" column="QDEL_YN"/>                        
     
     </resultMap>     
        
        <!-- 문의사항 전체 리스트 가져오기 -->
	<select id="selectList" resultMap="qnaResultSet">
		SELECT *
		FROM QUESTIONS
		WHERE QDEL_YN='N'
		ORDER BY QID DESC	
	</select>     
	    <!-- 문의사항 전체 개수 가져오기 -->
	<select id="getListCount" resultType="_int">
	   SELECT COUNT(*)
	   FROM QUESTIONS
	   WHERE QDEL_YN='N'	
	</select>
	
	    <!-- 문의사항 상세 페이지 가져오기 -->
	   
	   <select id="questionsSelect" resultMap="qnaResultSet">
	              SELECT*
	              FROM QUESTIONS
	              WHERE QID=#{qId}
	              AND QDEL_YN='N'              
	      
	   </select>
	   
	   <!-- 조회수 올리기 -->
	   <update id="updateCount">
	            UPDATE QUESTIONS
	            SET QCOUNT = QCOUNT + 1
	            WHERE QID = #{qId}
	   </update>
	
	   <!-- 문의사항 검색 갯수 확인 -->
	<select id="getSearchListCount" parameterType="SearchCondition" resultType="_int">
		SELECT COUNT(*)
		FROM QUESTIONS
		WHERE QDEL_YN = 'N'
		
		<if test="title != null">
			AND QTITLE LIKE '%' || #{title} || '%'
		</if>
		<if test="content != null">
			AND QCONTENT LIKE '%' || #{content} || '%'
		</if>
	</select>
	
	<!-- 문의사항 검색 리스트 불러오기 -->
  	<select id="selectSearchList" resultMap="qnaResultSet">
  		SELECT *
  		FROM QUESTIONS
  		WHERE QDEL_YN = 'N'  		
  		<if test="title != null">
			AND QTITLE LIKE '%' || #{title} || '%'
		</if>
		<if test="content != null">
			AND QCONTENT LIKE '%' || #{content} || '%'
		</if>
		ORDER BY QID DESC  		
  	</select>  	          
  	
  	
  	<!-- 문의사항 입력 -->
  	<insert id="questionsInsert">
  		INSERT INTO QUESTIONS 
  		VALUES(SEQ_NID.NEXTVAL,#{qTitle},#{qContent},#{qId},DEFAULT,NULL,SYSDATE,DEFAULT)  	
  	</insert>
  	
  	<!-- 문의사항 수정 -->
  	<update id="questionsModify">
  		UPDATE QUESTIONS 
  		SET QTITLE = #{qTitle},QCONTENT = #{qContent}, QDATE=SYSDATE 
  		WHERE QID = #{qId}
  		AND QDEL_YN = 'N'
  	</update>
  	
  	<!-- 문의사항 삭제 -->
  	<update id="questionsDelete">
  		UPDATE QUESTIONS
  		SET QDEL_YN = 'Y'
  		WHERE QID = #{qId}
  	</update>  	  	  	
   
    </mapper>