<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.wehan.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.wehan.member.model.vo.BlackList" alias="Black"/>
		<typeAlias type="com.kh.wehan.member.model.vo.Mypage" alias="Mypage"/>
		<typeAlias type="com.kh.wehan.notice.model.vo.Notice" alias="Notice"/>		
		<typeAlias type="com.kh.wehan.notice.model.vo.SearchCondition" alias="SearchCondition"/>
		<typeAlias type="com.kh.wehan.message.model.vo.Message" alias="Message"/>
		<typeAlias type="com.kh.wehan.message.model.vo.FriendList" alias="FriendList"/>
		<typeAlias type="com.kh.wehan.message.model.vo.FriendInfo" alias="FriendInfo"/>
		<typeAlias type="com.kh.wehan.certify.model.vo.Certify" alias="Certify"/>
		<typeAlias type="com.kh.wehan.certify.model.vo.CertifyReply" alias="CertifyReply"/>
		<typeAlias type="com.kh.wehan.member.model.vo.Admin" alias="Admin"/>
		<typeAlias type="com.kh.wehan.pay.model.vo.Pay" alias="Pay"/>
		<typeAlias type="com.kh.wehan.challenge.model.vo.Challenge" alias="Challenge"/>
		<typeAlias type="com.kh.wehan.questions.model.vo.Questions" alias="Questions"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/mypage-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/message-mapper.xml"/>
		<mapper resource="mappers/certify-mapper.xml"/>
		<mapper resource="mappers/pay-mapper.xml"/>
		<mapper resource="mappers/challenge-mapper.xml"/>
	</mappers>
</configuration>